.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2800px;
  width: 4500px;
  margin-top: 100px;
  margin-left: 200px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)), url(your-background-image.jpg);
  background-size: cover;
  backdrop-filter: blur(10px);
}

.chat-container {
  width: 4500px; /* Adjust width as needed */
  /* max-width: 800px; Set maximum width */
  height: 2800px; /* Adjust height as needed */
  /* max-height: 600px; Set maximum height */
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}

.chat-messages {
  padding: 20px; /* Adjust padding as needed */
  overflow-y: scroll;
  max-height: calc(80% - 10px); /* Adjust maximum height of messages */ 
  font-size: 96px;/* Adjust maximum height of messages */
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.message {
  margin-bottom: 10px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.sender {
  font-weight: bold;
}

.timestamp {
  font-size: 42px;
  color: rgb(0, 0, 0);
}

.message-text {
  word-wrap: break-word; /* Wrap long messages */
}

.chat-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 22px; /* Increase input padding */
  font-size: 46px; /* Increase font size */
  margin-right: 15px;
  /* margin-top: 2400px; */
  border: none;
  border-radius: 5px;
  outline: none;
}

button {
  background-color: #2c2d2cb0;
  color: white;
  padding: 12px 20px; /* Increase button padding */
  font-size: 56px; /* Increase font size */
  /* margin-top: 2400px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #858a85cf;
}
