.Emptable-wrapper {
  width: 100%;
}

.Emptable-wrapper h1 {
  color: #ccc;
  font-size: 150px;
  margin-left: -3800px;
  margin-top: 90px;
  margin-bottom: -100px;
}

.Emptable {
  display: inline-block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  /* width: 4500px;
  height: 1100px; */
  max-width: 100%; 
  width: 4000px;
  /* width: 200em;
  /* max-width: 70%; */
  margin: auto;
  margin-top: 300px;
  margin-left: 100px;
  table-layout: auto;
  overflow-x: auto;
  overflow-y: auto;
}

.Emptable thead {
  background: linear-gradient(45deg, #777, #0047ab);
  color: #fffefe;
  font-size: 96px;
  /* width: 100%; */
}

.Emptable th,
.Emptable td {
  padding: 5.8rem;
}

.Emptable td {
  border-top: 3.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 76px;
  color: #ccc;
}
.Emptable tbody tr:hover {
  background-color: #eeeeee50;
}

.expand {
  width: 100%;
  text-align: left;
}

.label {
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}

.label-draft {
  background-color: #777;
  border-radius: 30px;
}

.label-live {
  background-color: #42a942;
  border-radius: 30px;
}

.label-error {
  background-color: #d9534f;
  border-radius: 30px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.actions svg {
  cursor: pointer;
}

.delete-btn {
  color: #e10d05;
}

.export-btn {
  font-size: 106px;
  margin-bottom: 1200px;
 margin-left: -100px;
  color: rgb(251, 251, 251);
}


