.navigation {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 100vh;
  color: white;
  padding: 5px 10px;
  background: rgba(57, 158, 229, 0.215);
  backdrop-filter: blur(10px);
  /* background-image: repeating-linear-gradient(135deg, rgba(25,25,25,0.08) 0px, rgba(25,25,25,0.08) 2px,transparent 2px, transparent 4px),linear-gradient(45deg, rgb(27,27,27),transparent),linear-gradient(135deg, rgb(27,27,27),transparent),linear-gradient(0deg, rgb(27,27,27),transparent),linear-gradient(90deg, rgb(193,154,107),rgb(193,154,107)); */
  overflow: hidden;
}

.navigation.active {
  width: max-content;
}

.navigation .menu {
  position: absolute;
  right: 10px;
  top: 10;
  margin-left: auto;
  font-size: 45px;
  height: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.navigation.active .menu {
  position: relative;
}

.navigation .menu.active {
  rotate: 180deg;
}

.navigation header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 95px 0 95px;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 14px;
  margin-bottom: 10px;
}

.navigation header::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.356);
  bottom: 0;
}

.navigation.dark header {
  background-color: rgba(0, 0, 0, 0.438);
}

.navigation.active header {
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
}

.navigation.active header::after, .navigation.active header span {
  display: none;
}

.navigation header .profile {
  height: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: lightgray;
}

.profile-img {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.navigation.active header .profile {
  height: 40px;
}

.navigation  header span {
  font-size: 65px;
}

.navigation .divider {
  position: relative;
  margin: 0 auto;
  height: 1px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.438);
}

.navigation .bg-waves {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 42px;
  padding: 40px 20px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.158); /* Apply a subtle hover background */
}

.nav-icon {
  margin-right: -10px; /* Add spacing between icon and text */
  font-size: 60px; /* Adjust icon size as needed */
}

.nav-item span {
  font-size: 76px; /* Adjust text size as needed */
  margin-left: 35px;
}

.nav-item {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.nav-item .edit {
  cursor: pointer; /* Set cursor to pointer to indicate it's clickable */
}
