.analytics {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.analytics header {
  display: flex;
  justify-content: space-between;
  width: 75%;
  font-weight: bold;
  font-size: 50px;
}

.analytics header .followers {
  color: #6183a2;
}

.analytics header .earnings {
  color: rgba(253, 253, 253, 0.463);
}

.analytics .title {
  font-size: 66px;
  font-weight: 500;
  text-align: center;
}

.analytics .value {
  font-size: 58px;
  color: lime;
}

.analytics .extra-text {
  font-size: 46px;
  color: rgb(95, 95, 95);
  text-align: center;
}

