.modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 20px;
  padding: 20rem;
  background: linear-gradient(45deg, #060505, #3566aa);;
  width: 95em;
}

.modal .btn {
  display: block;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  color: aliceblue;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1.3rem;
  background-color: rgba(214, 219, 224, 0.712);
  padding: 3.3rem;
  font-size: 4rem;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-size: 4.5rem;
}

.error {
  background-color: #f8d7da;
  color: #df4759;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}